body {
    background: #dedede;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    text-align: center;
    font-size: 22px;
}

#compass {
    border: 15px solid #34495e;
    margin: 50px auto;
    width: 200px;
    height: 200px;
    padding: 0;
    background: #3498db;
    border-radius: 50%;
}